*.pyc
MANIFEST
build/*
dist/*
*.cache/
.coverage
.coveragerc
htmlcov/*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdfsync
*.synctex.gz
*.toc
*.swp
*.asv
*.nav
*.snm
*.gz
*.bib.bak
*.fls
*.m~
*.sublime*
*.DS_Store*
envs/
*.egg-info/
*dask-worker-space*
.ipynb_checkpoints*
*/__pycache__/*
*.coverage*
*coverage.xml*
*un_api_token.txt
